
<header class="masthead masthead-patcher" id="{{ site.data.sitetext.patcher.section | default: patcher }}">
    <div class="container">
      <div class="intro-text subheader">
        <img src="{{ site.data.style.patcher-icon }}">
        <div class="intro-heading text-uppercase">{{ site.data.sitetext.patcher.title | markdownify }}</div>
        <div class="intro-lead-in">{{ site.data.sitetext.patcher.text | markdownify }}</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ site.data.sitetext.patcher.buttonlink }}">{{ site.data.sitetext.patcher.button }}</a>
      </div>
    </div>
  </header>